<!-- prettier-ignore -->
{% extends "base.html" %} {% block title %} Events {% endblock %} {% block content %}
{% load static %}
<section class="bg-blue-700 dark:bg-blue-700">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      style="margin-left: 100px"
    >
      Upcoming Events...
    </h2>
    <p class="font-semibold text-white font-mono mb-4">
      No Upcoming Events. Stay tuned for further updates😊
    </p>
  </div>
</section>
<section class="bg-gray-900 dark:bg-gray-900 py-8">
  <div class="py-2 px-4 mx-auto max-w-screen-xl text-center">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Previous Events
      <hr class="my-4 border-gray-600" />
    </h2>
  </div>
</section>
<section class="bg-gray-900 dark:bg-gray-900 py-2">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div
      class="font-light bg-blue-700 p-4 rounded-3xl text-gray-500 sm:text-lg dark:text-gray-400"
    >
      <div class="bg-gray-900 rounded-3xl p-4">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          GenAI Event
        </h2>
        <p class="font-semibold text-white font-mono mb-4">
          The IASC's GenAI event was a remarkable endeavor that brought together
          experts and enthusiasts alike to explore the impact artificial
          intelligence (AI) across various industries. Led by Dr. Manish Ghodse,
          a respected authority in the field, the event delved into the latest
          advancements and insights shaping the future of AI in industries.
        </p>
      </div>
    </div>
    <div id="animation-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-3xl md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="{% static 'images/events/single_podium.png'%}"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="{% static 'images/events/crowd_speech.png'%}"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>
</section>
<section class="bg-gray-900 dark:bg-gray-900 py-8">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div id="animation-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-3xl md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="{% static 'images/events/sambhav_1.png'%}"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
          <img
            src="{% static 'images/events/sambhav_2.png'%}"
            class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
    <div
      class="font-light bg-blue-700 p-4 rounded-3xl text-gray-500 sm:text-lg dark:text-gray-400"
    >
      <div class="bg-gray-900 rounded-3xl p-4">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Sambhav Techfest 2023
        </h2>
        <p class="font-semibold text-white font-mono mb-4">
          The IASC club, as part of Sambhav, our college's tech fest, organized
          a series of engaging events aimed at promoting learning and creativity
          among students.
        </p>

        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
          Techfest events:
        </h2>
        <ul
          class="max-w-md space-y-1 font-semibold text-white list-disc list-inside dark:text-white"
        >
          <li>Blog-A-Thon</li>
          <li>Read & Type</li>
          <li>Tech quizes</li>
          <li>Speed typing competition</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
