<!-- prettier-ignore -->
{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}
{% load static %}
<style>
  .fade-in-bck {
    -webkit-animation: fade-in-bck 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-bck 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
      transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
      transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
</style>
<div class="bg-blue-700">
  <div
    class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
  >
    <div class="lg:order-2 place-self-center lg:col-span-7 p-8 rounded-lg">
      <h1
        class="max-w-2xl mb-4 text-4xl text-center font-extrabold tracking-tight leading-none md:text-5xl xl:text-5xl dark:text-white"
      >
        Intel AI Students Club 🧑🏽‍💻
      </h1>
      <p
        class="max-w-2xl mb-6 font-normal text-center text-white-900 lg:mb-8 md:text-lg lg:text-2xl dark:text-zinc-400"
      >
        A vibrant community established to foster innovation, collaboration, and
        skill development in technology
      </p>
    </div>
    <div class="lg:order-1 lg:mt-0 lg:col-span-5 lg:flex">
      <!-- prettier-ignore -->
      <img src="{% static 'images/iasc_logo_intel.png' %}" class="border-2 fade-in-bck drop-shadow-2x rounded-3xl" style="pointer-events: none; user-select:none;" />
    </div>
  </div>
</div>
<section class="bg-white px-4 py-8 antialiased dark:bg-gray-900 md:py-16">
  <div
    class="mx-auto grid max-w-screen-2xl rounded-lg bg-gray-50 p-4 dark:bg-gray-800 md:p-8 lg:grid-cols-12 lg:gap-8 lg:p-16 xl:gap-16"
  >
    <div class="me-auto place-self-center lg:col-span-7">
      <h1
        class="mb-3 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-4xl"
      >
        Want to see our previous events 🎤?
      </h1>
      <p class="mb-6 text-gray-500 dark:text-gray-400">
        These events provide hands-on experience, enhance problem-solving
        abilities, and keep members updated with industry trends. We aim to
        create a supportive environment where students can explore interests,
        develop technical skills, and prepare for successful tech careers.
      </p>
      <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
      >
        <a
          href="{% url 'events' %}"
          class="inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-black hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
        >
          Our Events ↗️
        </a>
      </button>
    </div>
    <div class="me-auto place-self-center lg:col-span-7">
      <h1
        class="mb-3 text-2xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-4xl"
      >
        Want to meet the team behind IASC 🚀?
      </h1>
      <p class="mb-6 text-gray-500 dark:text-gray-400">
        We plan and execute engaging technical events, workshops, and projects
        that inspire and empower our community. Our collaborative spirit and
        diverse skill sets drive our mission to create a thriving environment
        for learning, innovation, and growth.
      </p>
      <button
        class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
      >
        <a
          href="{% url 'teams' %}"
          class="inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-black hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
        >
          Our Team ↗️
        </a>
      </button>
    </div>
  </div>
</section>
<div class="flex justify-center">
  <h1
    class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
  >
    Our Aim 🎯
  </h1>
</div>

<div class="flex justify-center mx-10">
  <ol class="items-center sm:flex mb-8">
    <li class="relative mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0"
        >
          <svg
            class="w-4 h-4 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 14 20"
          >
            <path
              d="M13 20a1 1 0 0 1-.64-.231L7 15.3l-5.36 4.469A1 1 0 0 1 0 19V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v17a1 1 0 0 1-1 1Z"
            ></path>
          </svg>
        </div>
        <div
          class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"
        ></div>
      </div>
      <div class="mt-3 sm:pe-8">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white">
          Education and skill development
        </h3>

        <p
          class="text-base font-semibold text-gray-500 dark:text-gray-400 text-left"
        >
          We are dedicated to fostering education and skill development through
          workshops, projects, and networking, empowering members to excel in
          the ever-evolving tech landscape.
        </p>
      </div>
    </li>
    <li class="relative mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0"
        >
          <svg
            class="w-4 h-4 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 14 20"
          >
            <path
              d="M13 20a1 1 0 0 1-.64-.231L7 15.3l-5.36 4.469A1 1 0 0 1 0 19V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v17a1 1 0 0 1-1 1Z"
            ></path>
          </svg>
        </div>
        <div
          class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"
        ></div>
      </div>
      <div class="mt-3 sm:pe-8">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white">
          Collaboration and networking
        </h3>

        <p
          class="text-base font-semibold text-gray-500 dark:text-gray-400 text-left"
        >
          We encourage collaboration and networking as they foster innovation,
          enhance productivity, and drive professional growth, ultimately
          leading to greater achievements and continuous development.
        </p>
      </div>
    </li>
    <li class="relative mb-6 sm:mb-0">
      <div class="flex items-center">
        <div
          class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0"
        >
          <svg
            class="w-4 h-4 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 14 20"
          >
            <path
              d="M13 20a1 1 0 0 1-.64-.231L7 15.3l-5.36 4.469A1 1 0 0 1 0 19V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v17a1 1 0 0 1-1 1Z"
            ></path>
          </svg>
        </div>
        <div
          class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"
        ></div>
      </div>
      <div class="mt-3 sm:pe-8">
        <h3 class="text-lg font-bold text-gray-900 dark:text-white">
          Innovation and research
        </h3>

        <p
          class="text-base font-semibold text-gray-500 dark:text-gray-400 text-left"
        >
          We champion innovation and research for their critical role in driving
          progress, advancing knowledge, and achieving excellence, fostering a
          culture of continuous improvement and groundbreaking discoveries.
        </p>
      </div>
    </li>
  </ol>
</div>

{% endblock %}
