<!-- prettier-ignore -->
{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content %}

<div class="team">
  <h1>Our Team</h1>

  <div class="team-member">
    <img
      src="path_to_photo1.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>John Doe</h2>
    <h3>AI/ML Lead</h3>
    <p>"Innovating with intelligence."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo2.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Jane Smith</h2>
    <h3>Web Development Lead</h3>
    <p>"Building the web of tomorrow."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo3.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Jim Brown</h2>
    <h3>IoT Lead</h3>
    <p>"Connecting the world."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo4.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Susan Clark</h2>
    <h3>Data Science Lead</h3>
    <p>"Data-driven decisions."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo5.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Mike Wilson</h2>
    <h3>Robotics Lead</h3>
    <p>"Engineering the future."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo6.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Emily Davis</h2>
    <h3>Cybersecurity Lead</h3>
    <p>"Securing our digital world."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo7.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Chris Martinez</h2>
    <h3>Blockchain Lead</h3>
    <p>"Decentralizing trust."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo8.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>Amanda Lee</h2>
    <h3>Cloud Computing Lead</h3>
    <p>"Empowering with cloud."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo9.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>David Johnson</h2>
    <h3>DevOps Lead</h3>
    <p>"Integrating development and operations."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo9.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>David Johnson</h2>
    <h3>DevOps Lead</h3>
    <p>"Integrating development and operations."</p>
  </div>

  <div class="team-member">
    <img
      src="path_to_photo9.jpg"
      alt="Team Member Photo"
      style="width: 100px; height: auto"
    />
    <h2>David Johnson</h2>
    <h3>DevOps Lead</h3>
    <p>"Integrating development and operations."</p>
  </div>
</div>

<script src="script/navbar.js"></script>
{% endblock %}
