<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/styles.css">
    <link rel="icon" type="image/png" href="/">
    <title>Events - IASC</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="events.html" class="active">Events</a></li>
        </ul>
    </div>

    <div class="events">
        <h1>Events</h1>
        <p>Coming Soon...</p>
    </div>

    <script src="script/navbar.js"></script>
</body>

</html>
