<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/styles.css">
    <link rel="icon" type="image/png" href="/">
    <title>IASC</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="events.html">Events</a></li>
        </ul>
    </div>

    <div class="name-container" style="text-align: center; margin-top: 20%;">
        <img src="path_to_logo.png" alt="IASC Logo" style="width: 100px; height: auto;">
        <div class="name">
            <span class="first-name big-bold">IASC</span>
            <span class="last-name big-bold">(Intel AI Students Club)</span>
        </div>
        <div class="motto">
            <p>Empowering AI Innovators of Tomorrow</p>
        </div>
    </div>

    <script src="script/navbar.js"></script>
</body>

</html>
